<template>
  <div class="control">
      <div class="form-item" v-for="control in controls" :key="control.id">
        <label>Контрол {{ control.id }}</label>
        <input value="control.value"
               v-model="control.value"
               @focus="onFocus"
               @blur="onBlur"
        >
        <p v-if="show" ><a href="/">waderer</a></p>

      </div>
  </div>
</template>

<script>

  export default {
    props: {
      show: null,
      controls: null
    },
    created () {
      this.controls = this.$store.getters.getState;
    },
    methods: {
      onFocus: function(event) {
        if(event.target.id == 1) {
          // eslint-disable-next-line no-console
          console.log(this.show)
          this.controls.value = '';
        }


        this.show = true;
      },
      onBlur: function() {

        this.show = false;
      },
    }
  }
</script>

<style lang="scss" >
  .form-item {
    margin-bottom: 20px;
    input {
      margin-left: 30px;
    }
  }
  .show {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    text-align: left;
    padding: 20px;
    list-style-type: none;
  }
  input {
    width: 8%;
    border: none;
    margin-left: 30px;
    background-image: url('../../public/img/arrow.png');
    background-repeat: no-repeat;
    background-position-x: right;
  }
  input:hover::-webkit-outer-spin-button,
  input:hover::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus::-webkit-outer-spin-button,
  input:focus::-webkit-inner-spin-button {
    -webkit-appearance: checkbox;
    margin: 0;
  }
  input:hover {
    cursor: pointer;
    color: dodgerblue;
  }
  input:focus {
    width: 30%;
  }
  p {
    margin: -7px 0;
  }
  a {
    font-size: 10px;
    text-decoration: none;
    color: dodgerblue;
  }
  .controll-bottom-panel {
    display: flex;
  }
</style>
