<template>
  <div class="controll">
    <ul >
      <li v-for="{ control, index } in controls" :key="index">
        <label>Контролл {{ index }}</label>
        <input
          type="text"
          @input="changeCtrlVal1"
          @focus="onFocus"
          id="1"
          tabindex="index"
          v-on:keyup.enter="$event.target.blur()"
          @blur="onBlur"
          v-on:keyup="keyup"
          onkeydown="this.style.width = ((this.value.length + 3) * 8) + 'px';"
          :value="this.value = this.$store.state.controlValue1"
          min="0"
        >
        <div class="controll-bottom-panel">
          <p>
            <a v-on:click="amount" href="#">Сумма</a>
          </p>
        </div>
      </li>
    </ul>

  </div>
</template>

<script>

  export default {
    props: {
      show: {
        type: Boolean,
        default: false
      },
      controls: {}
    },
    created () {
      this.controls = this.$store.getters.getState;
    },
    methods: {
      keyup: function(event) {
        if (event.key === "Escape") {
          this.$store.state.controlValue1 = 0;
        }
      },
      onFocus: function(event) {
        if(event.target.id == 1) {
          this.$store.state.controlValue1 = '';
        }

        if(event.target.id == 2) {
          this.$store.state.controlValue2 = '';
          this.$store.state.controlValue3 = '';
        }

        if(event.target.id == 3) {
          this.$store.state.controlValue2 = '';
          this.$store.state.controlValue3 = '';
        }

        this.show = true;
      },
      onBlur: function(event) {

        if(event.target.id == 1) {
          if (this.$store.state.controlValue1 <= 0) {
            this.$store.state.controlValue1 = 0;
          }
          this.$store.state.controlValue1 = this.$store.state.controlValue1.toString()
            .replace(/[^\d]/g, '')
            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
        }

        if(event.target.id == 2) {
          if (this.$store.state.controlValue2 <= 0) {
            this.$store.state.controlValue2 = 0;
            this.$store.state.controlValue3 = 0;
          }
          this.$store.state.controlValue2 = this.$store.state.controlValue2.toString()
            .replace(/[^\d]/g, '')
            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');

          this.$store.state.controlValue3 = this.$store.state.controlValue2.toString()
            .replace(/[^\d]/g, '')
            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
        }

        if(event.target.id == 3) {
          if (this.$store.state.controlValue3 <= 0) {
            this.$store.state.controlValue2 = 0;
            this.$store.state.controlValue3 = 0;
          }
          this.$store.state.controlValue3 = this.$store.state.controlValue3.toString()
            .replace(/[^\d]/g, '')
            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
          this.$store.state.controlValue2 = this.$store.state.controlValue2.toString()
            .replace(/[^\d]/g, '')
            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
        }

        this.show = false;
      },
      changeCtrlVal1 (event) {
        this.$store.commit('changeCtrlVal1', Number(event.target.value));
      },
      changeCtrlVal2 (event) {
        this.$store.commit('changeCtrlVal2', Number(event.target.value));
        this.$store.commit('changeCtrlVal3', Number(event.target.value));
      },
      changeCtrlVal3 (event) {
        this.$store.commit('changeCtrlVal2', Number(event.target.value));
        this.$store.commit('changeCtrlVal3', Number(event.target.value));
      },
      amount() {
        this.$store.state.controlValue1 = Number(this.$store.state.controlValue2) + Number(this.$store.state.controlValue3);
        this.$store.state.controlValue1 = this.$store.state.controlValue1.toString()
          .replace(/[^\d]/g, '')
          .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ')
      },
      constant() {
        this.$store.state.controlValue2 = 1000;
        this.$store.state.controlValue2 = this.$store.state.controlValue2.toString()
          .replace(/[^\d]/g, '')
          .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
      },
      // million() {
      //   this.$store.state.controlValue1 = 1000000;
      //   this.$store.state.controlValue1 = this.$store.state.controlValue1.toString()
      //           .replace(/[^\d]/g, '')
      //           .replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
      // },
    }
  }
</script>

<style scoped>
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    text-align: left;
    padding: 20px;
    list-style-type: none;
  }
  input {
    width: 8%;
    border: none;
    margin-left: 30px;
    background-image: url('../../public/img/arrow.png');
    background-repeat: no-repeat;
    background-position-x: right;
  }
  input:hover::-webkit-outer-spin-button,
  input:hover::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus::-webkit-outer-spin-button,
  input:focus::-webkit-inner-spin-button {
    -webkit-appearance: checkbox;
    margin: 0;
  }
  input:hover {
    cursor: pointer;
    color: dodgerblue;
  }
  input:focus {
    width: 30%;
  }
  p {
    margin: -7px 0;
  }
  a {
    font-size: 10px;
    text-decoration: none;
    color: dodgerblue;
  }
  .controll-bottom-panel {
    display: flex;
  }
</style>
